<%- include('layouts/header') %>
<%- include('partials/navigation') %>
<div class="container">
    <div class="row">
        <div class="col-md-9">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore ratione sed vero debitis tempore dolor nulla quae. Ex molestias cumque non aspernatur at atque! Adipisci pariatur impedit nulla ratione qui.
        </div>
        <div class="col-md-3">
            <h2>Inicie sesion</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo quae non, magnam ut, excepturi molestiae dolor vel quas deleniti fugit ipsam velit sit dignissimos iure rerum eligendi voluptates laudantium molestias. inicie sesion o registrese</p>
            <div class="d-grid">
                <a href="/users/register/" class="btn btn-outline-primary mb-3">registrese</a>
                <a href="/users/register/" class="btn btn-outline-primary">inicia sesion</a>
            </div>
        </div>
    </div>
</div>

<%- include('layoutS/footer') %>